{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
     <div class="section">
<div class="text-center col">
<img 
                src="{% static 'mySite/img/111.jpg'%}"  alt=""
                class="" style="height: 150px; weight :80px; ">
  <br> <br>

            	<h3 class="title" style="color:#F02C03">Mot de passe oublié</h3></div>
            <hr>
            </div>
		<!-- container -->
		<div class="container">
			<!-- row -->
				<div class="row">
      	
              
              	    <div class="col-md-12">
						<div class="billing-details">
<p style="padding:10px">
   Nous vous avons envoyé par e-mail des instructions pour réinitialiser le mot de passe si le compte existe avec e-mail. Vous recevrez des instructions de réinitialisation de mot de passe sur votre e-mail.
</p>
</div></div></div>

{% endblock content %}