{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
     <div class="section">
<div class="text-center col">
<img 
                src="{% static 'mySite/img/111.jpg'%}"  alt=""
                class="" style="height: 150px; weight :80px; ">
  <br> <br>
            	<h3 class="title" style="color:#F02C03">confirmez Mot de passe </h3></div>
            <hr>
            </div>
		<!-- container -->
		<div class="container">
			<!-- row -->
				<div class="row">
      	
              
              	    <div class="col-md-12">
						<div class="billing-details">
<p style="padding:10px">
    Votre mot de passe a été défini ! Vous pouvez <a href="{% url 'show_login' %}"  ><strong style="color:#F02C03">Connectez </strong></a> Maintenant
</p>
</div></div></div>
{% endblock content %}