
{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
     <div class="section">
<div class="text-center col">
            
    
                 <img 
                src="{% static 'mySite/img/111.jpg'%}"  alt=""
                class="" style="height: 150px; weight :80px; ">
               
               
            <!-- <hr> -->
           <br> <br>
            	<h3 class="title" style="color:#F02C03">Mot de passe oublié</h3></div>
            <hr>
            </div>
		<!-- container -->
		<div class="container">
			<!-- row -->
				<div class="row">
      	
              
              	    <div class="col-md-6">
						<div class="billing-details">
                            
     
        

      <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>
          {% endfor %}
          
          <div class="col-6"> <center> <button type="submit" class="btn btn-success">Submit</center><br></button> </div>
      </form>

      <!-- /.social-auth-links -->

    </div>
    </div> </div>
    
    
{% endblock content %}