{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
    {% if validlink %}
      <div class="section">
<div class="text-center col">
<img 
                src="{% static 'mySite/img/111.jpg'%}"  alt=""
                class="" style="height: 150px; weight :80px; ">
  <br> <br>
            	<h3 class="title" style="color:#F02C03">confirmez Mot de passe </h3></div>
            <hr>
            </div>
		<!-- container -->
		<div class="container">
			<!-- row -->
				<div class="row">
      	
              
              	    <div class="col-md-6">
						<div class="billing-details">

       <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>
          {% endfor %}
          <div class="col-6"> <center> <button type="submit" class="btn btn-success">Change Password</button></center></div>
      </form>

      <!-- /.social-auth-links -->

    </div>
    {% else %}

    <p>
      <div class="section">
<div class="text-center col">
<img 
                src="{% static 'mySite/img/111.jpg'%}"  alt=""
                class="" style="height: 150px; weight :80px; ">
  <br> <br>
            	<h3 class="title" style="color:#F02C03">confirmez Mot de passe </h3></div>
            <hr>
            </div>
      &emsp;&emsp;&emsp; &emsp;&emsp;&emsp;  Le lien de mot de passe a expiré ou n'est pas valide
        </div></div></div>
    </p>
    {% endif %}
    </div></div></div>
{% endblock content %}