<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    {% load static %}
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Bati_c</title>
    <!-- chartist CSS -->
       
    <link href="{% static 'myAdmin/csss/pages/ecommerce.css'%}"  rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'myAdmin/css/style.min.css'%}"  rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Adminstrateur </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'myAdmin/images/logo-icon.png'%}" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="{% static 'myAdmin/images/logo-light-icon.png4'%}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="{% static 'myAdmin/images/logo-text.png'%}" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="{% static 'myAdmin/images/logo-light-text.png'%}"class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-sm-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item">
                            <form class="app-search d-none d-md-block d-lg-block">
                                <input type="text" class="form-control" placeholder="Search & enter">
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-note"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            
                            <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                            <ul><li>
                                <a herf="#"> See all e-Mails <i class="fa fa-angle-right"></i> </a>
                               </li>
                                </ul>
                            </div>
                            </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                      
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User Profile-->
                <div class="user-profile">
                    <div class="user-pro-body">
                        <div><img src="{% static 'myAdmin/images/users/2.jpg'%}" alt="user-img" class="img-circle"></div>
                        <div class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nom d'utilisateur <span class="caret"></span></a>
                            <div class="dropdown-menu animated flipInY">
                                <!-- lien profil-->
                                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i>&ensp; Mon profile </a>
                                <!-- se deconnecte-->
                                <a href="javascript:void(0)" class="dropdown-item"><i class="fa fa-power-off"></i>&ensp;se deconnecte </a>
                                <!-- text-->
                              
                                
                                <!-- text-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                      <li> <a  href="javascript:void(0)" aria-expanded="false"><i class=" fa fa-dashboard"></i><span class="hide-menu">Dashbord</span></a>
                       <li> <a  href="javascript:void(0)" aria-expanded="false"><i class=" fa fa-dashboard"></i><span class="hide-menu">A propos</span></a>
                        <li class="nav-small-cap">&ensp; PERSONAL</li>
                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Exposants</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Liste des Exposants</a></li>
                            </ul>
                        </li>
                          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Homme d'affaire</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Liste des hommes d'affaire</a></li>
                            </ul>
                        </li>
                         <li class="nav-small-cap" >&ensp; Mis a jour du site </li>
                          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Categories</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url "categories"  %}">Liste des categories</a></li>
                            </ul>
                        </li>
                          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Articles</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url "articles"  %}">Liste des articles</a></li>
                            </ul>
                        </li>
                                              <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Publicites</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url "listepub"  %}">Liste des publicite</a></li>
                            </ul>
                        </li>
                         <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">liste publicite :</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url "listepub"  %}">Liste des publicite</a></li>
                            </ul>
                        </li>
                       
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
 <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">    Envoyez un email </h4>
                    </div>
                    
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Info box Content -->
   <!-- ============================================================== -->
         <div class="row">
         
  <div class="col-lg-10">
    <h1>Subscribe</h1>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red">{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'subscribe' %}" method="POST" class="pure-form pure-form-aligned">
        {% csrf_token %}{% load widget_tweaks %} 
             <div class="pure-control-group">   
        {% render_field form.email|add_error_class:"error-border" class="form-control " placeholder="Destinataire" %}
               </div> <div class="pure-control-group">  
        {% render_field form.subject|add_error_class:"error-border" class="form-control " placeholder="Fobject " %}
              </div>
                                           <div class="pure-control-group">  
         {% render_field form.message|add_error_class:"error-border"  class="form-control " placeholder="message" %}
            </div>
                                        
        <input type="submit" value="Submit">
    </form>

    </div></div>
     <script src="{% static 'myAdmin/node_modules/jquery/jquery-3.2.1.min.js'%}"></script>

    <!-- Bootstrap tether Core JavaScript -->
     <script src="{% static 'myAdmin/node_modules/popper/popper.min.js'%}"></script>
     <script src="{% static 'myAdmin/node_modules/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
     <script src="{% static 'myAdmin/js/perfect-scrollbar.jquery.min.js'%}"></script>
    <!--Wave Effects -->
     <script src="{% static 'myAdmin/js/waves.js'%}"></script>
    <!--Menu sidebar -->
     <script src="{% static 'myAdmin/js/sidebarmenu.js'%}"></script>
    <!--stickey kit -->
     <script src="{% static 'myAdmin/node_modules/sticky-kit-master/dist/sticky-kit.min.js'%}"></script>
     <script src="{% static 'myAdmin/node_modules/sparkline/jquery.sparkline.min.js'%}"></script>
    <!--Custom JavaScript -->
     <script src="{% static 'myAdmin/js/custom.min.js'%}"></script>
     <script src="{% static 'myAdmin/ode_modules/jquery-sparkline/jquery.sparkline.min.js'%}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
     <script src="{% static 'myAdminnode_modules/datatables/jquery.dataTables.min.js'%}"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    </script>
</body>

</html>
 